USE [master]
GO
/****** Object:  Database [YGS]    Script Date: 9/27/2026 8:13:58 PM ******/
CREATE DATABASE [YGS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YGS', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\YGS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YGS_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\YGS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YGS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YGS]
GO
/****** Object:  Table [dbo].[UrlTracking]    Script Date: 9/27/2026 8:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrlTracking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[original_url] [varchar](max) NOT NULL,
	[short_url] [varchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[click_count] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[UrlTracking] ADD  CONSTRAINT [DF_UrlTracking_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
/****** Object:  StoredProcedure [dbo].[yp_GetAllUrlData]    Script Date: 9/27/2026 8:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		MBarker
-- Create date: 09/27/26
-- Description:	Gets all Url data to build a cache
-- =============================================
CREATE PROCEDURE [dbo].[yp_GetAllUrlData]
@ShortUrl VARCHAR(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT original_url, short_url, created_at FROM UrlTracking
END
GO
/****** Object:  StoredProcedure [dbo].[yp_GetUrlData_ByShortURL]    Script Date: 9/27/2026 8:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		MBarker
-- Create date: 09/27/26
-- Description:	Gets all info for a short URL
-- =============================================
CREATE PROCEDURE [dbo].[yp_GetUrlData_ByShortURL]
@ShortUrl VARCHAR(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT original_url, short_url, created_at, click_count FROM UrlTracking
	WHERE short_url = @ShortUrl
END
GO
/****** Object:  StoredProcedure [dbo].[yp_UpsertShortenedUrl]    Script Date: 9/27/2026 8:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		MBarker
-- Create date: 09/27/2026
-- Description:	Url Tracking Proc
-- =============================================
CREATE PROCEDURE [dbo].[yp_UpsertShortenedUrl]
    @OriginalUrl VARCHAR(MAX),
    @ShortUrl VARCHAR(MAX),
    @Count INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Try to update existing record first
    UPDATE dbo.UrlTracking
    SET 
        click_count = click_count + 1,
        @Count = click_count + 1
    WHERE original_url = @OriginalUrl;

    -- If no record was updated, insert the data
    IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO dbo.UrlTracking (original_url, short_url, click_count)
        VALUES (@OriginalUrl, @ShortUrl, 1);
        Set @Count = 1
    END
END
GO
USE [master]
GO
